In [19]:
import pandas as pd
Clientes = {
    "Clientes": ["Ana", "Luis", "María", "Pedro", "Juan", "Sofía", "Carlos", "Lucía"],
    "Frecuencia_compras": [12, 5, 20, 3, 15, 8, 2, 18],
    "Gasto_promedio": [350, 220, 500, 180, 420, 300, 150,480]
}

df_Clientes = pd.DataFrame(Clientes)
df_Clientes

  Clientes  Frecuencia_compras  Gasto_promedio
0      Ana                  12             350
1     Luis                   5             220
2    María                  20             500
3    Pedro                   3             180
4     Juan                  15             420
5    Sofía                   8             300
6   Carlos                   2             150
7    Lucía                  18             480

In [20]:
df_Clientes["Valor_Cliente"] = (
    df_Clientes["Frecuencia_compras"] * df_Clientes["Gasto_promedio"]
)

df_Clientes

  Clientes  Frecuencia_compras  Gasto_promedio  Valor_Cliente
0      Ana                  12             350           4200
1     Luis                   5             220           1100
2    María                  20             500          10000
3    Pedro                   3             180            540
4     Juan                  15             420           6300
5    Sofía                   8             300           2400
6   Carlos                   2             150            300
7    Lucía                  18             480           8640

In [21]:
df_Clientes.sort_values(by="Valor_Cliente", ascending=False)

  Clientes  Frecuencia_compras  Gasto_promedio  Valor_Cliente
2    María                  20             500          10000
7    Lucía                  18             480           8640
4     Juan                  15             420           6300
0      Ana                  12             350           4200
5    Sofía                   8             300           2400
1     Luis                   5             220           1100
3    Pedro                   3             180            540
6   Carlos                   2             150            300

In [22]:
def clasificar_cliente(valor):
    if valor >= 8000:
        return "Cliente Premium"
    elif valor >= 4000:
        return "Cliente Frecuente"
    else:
        return "Cliente Ocasional"

df_Clientes["Segmento"] = df_Clientes["Valor_Cliente"].apply(clasificar_cliente)
df_Clientes

,Clientes,Frecuencia_compras,Gasto_promedio,Valor_Cliente,Segmento
0,Ana,12,350,4200,Cliente Frecuente
1,Luis,5,220,1100,Cliente Ocasional
2,María,20,500,10000,Cliente Premium
3,Pedro,3,180,540,Cliente Ocasional
4,Juan,15,420,6300,Cliente Frecuente
5,Sofía,8,300,2400,Cliente Ocasional
6,Carlos,2,150,300,Cliente Ocasional
7,Lucía,18,480,8640,Cliente Premium

In [24]:
df_Clientes.groupby("Segmento")["Valor_Cliente"].mean()

Segmento
Cliente Frecuente    5250.0
Cliente Ocasional    1085.0
Cliente Premium      9320.0
Name: Valor_Cliente, dtype: float64

Los clientes Premium generan el mayor valor para la empresa, por lo que se recomienda priorizar estrategias de fidelización y beneficios exclusivos. Los clientes ocasionales representan una oportunidad de crecimiento mediante promociones y campañas dirigidas.